<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOCAL_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level logger=%logger{36} thread=%thread traceId=%X{traceId} message=%msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="PROD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="PROD_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!prod">
        <root level="INFO">
            <appender-ref ref="LOCAL_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
